
h2{
  text-align: center;
  color: aliceblue;
  padding: 20px;
}

.search-result-container{
  /* background-color: antiquewhite; */
  width: 100%;
  border-radius: 6px;
  margin-top: 1rem;
  padding: .2rem;
  overflow: auto;
  height: 400px;
}
.name-container{
  width: 100%;
  background-color:white ;
  border-radius: 6px;
  margin: 10px 0px;
  min-height: 50px;
  padding: 20px;
  /* overflow: auto; */
  cursor: pointer;
}